spring:
  application:
    name: King_of_table_tennis
  profiles:
    active: dev # 기본 dev

  datasource:
    url: jdbc:mysql://${MYSQL_ENDPOINT:localhost}:3306/kingOfTableTennis?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
    username: kingOfTableTennis_user
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 20

  data:
    mongodb:
      uri: ${MONGODB_URL}
    redis:
      host: ${REDIS_HOST}
      port: 6379

  cloud:
    aws:
      region:
        static: ap-northeast-2
      s3:
        bucket: ${AWS_BUCKET}

  jpa:
    properties:
      hibernate:
        format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GOOGLE_MAIL_USERNAME}
    password: ${GOOGLE_MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB

server:
  address: 0.0.0.0
  port: 8080

logging:
  level:
    org:
      hibernate:
        SQL: debug
        type.descriptor.sql: trace
    org.hibernate.orm.jdbc.bind: trace


# Swagger Spring UI Setting
---
# dev 환경 설정 - Swagger 활성화
spring:
  config:
    activate:
      on-profile: dev

springdoc:
  packages-to-scan: com.giho.king_of_table_tennis # ?? ??? ????? ??
  default-consumes-media-type: application/json;charset=UTF-8 # API? ?? ? ???? ?? ??? ?? ??
  default-produces-media-type: application/json;charset=UTF-8
  cache:
    disabled: true # OpenAPI ?? ??? ?? ?? ?? (true: ????)
  api-docs:
    path: /v3/api-docs # OpenAPI ?? ??? ?? ??(???: /v3/api-docs)
    groups:
      enabled: true # API ??? ???
  swagger-ui:
    enabled: true # Swagger UI ???
    path: /swagger-ui.html # Swagger UI ?? ?? (???: /swagger-ui.html)
    tags-sorter: alpha # ?? & ????? ?????? ??
    operations-sorter: alpha


---
# prod 환경 설정 - Swagger 비활성화
spring:
  config:
    activate:
      on-profile: prod

springdoc:
  swagger-ui:
    enabled: false
  api-docs:
    enabled: false